<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Equipment" providerName="System.Data.SqlClient" connectionString="Data Source=qds207592114.my3w.com;Initial Catalog=qds207592114_db;User ID=qds207592114;Password=w7890578;" />
  </connectionStrings>
</configuration>