@{
    ViewBag.Title = "设备信息";
}

<script src="/Scripts/Equipment/Equipment.js"></script>
<!--工具栏-->
<div class="datagrid-toolbar">
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'" onclick="javascript: history.go(-1)">上一级</a>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="###" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="ShowAddDialog();">添加</a>
                </td>
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'" onclick="ShowEditOrViewDialog();">修改</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator">
                    </div>
                </td>
                <td>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="Delete();">删除</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" onclick="ShowEditOrViewDialog('view');">查看</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a id="btnSearch" href="###" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-filter'">搜索</a>
                </td>
                @*<td><div class="datagrid-btn-separator"></div></td>
                    <td>
                        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">打印</a>
                    </td>*@
                <td><div class="datagrid-btn-separator"></div></td>
                <td>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick='javascript:window.location.reload();'>刷新</a>
                </td>
                @*<td><div class="datagrid-btn-separator"></div></td>
                    <td>
                        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-help'">帮助</a>
                    </td>*@
            </tr>
        </tbody>
    </table>
</div>
<!--搜索栏-->
<div class="searchdiv">
    <form id="fmSearch" method="post">
        <table>
            <tr>
                <td style="width: 70px; text-align: right;">租户名称：</td>
                <td style="width: 150px;">
                    <input class="easyui-combobox" name="language" style="width:100%;" data-options="url:'/Tenant/GetList',
                           method:'get',
                           valueField:'Id',
                           textField:'Name',
                           panelHeight:'auto'
                           ">
                </td>

                <td style="width: 70px; text-align: right;">设备名称：</td>
                <td style="width: 150px;">
                    <input class="easyui-textbox" name="Name" placeholder="支持模糊查询" />
                </td>
                <td style="width: 70px; text-align: right;">设备编码：</td>
                <td style="width: 150px;">
                    <input class="easyui-textbox" name="Code" placeholder="支持模糊查询" />
                </td>
                <td style="width: 70px; text-align: right;">设备分类：</td>
                <td style="width: 150px;">
                    <input class="easyui-textbox" name="Classify" placeholder="设备分类" />
                </td>
                <td style="width: 70px; text-align: right;">设备描述：</td>
                <td style="width: 150px;">
                    <input class="easyui-textbox" name="Description" placeholder="设备描述" />
                </td>
            </tr>
        </table>
    </form>
</div>
<!--表格-->
<table id="grid" style="width: 100%;" class="easyui-datagrid">
    <thead>
        <tr>
            <th data-options="field: 'Id', align: 'center', hidden: true">主键</th>
            <th data-options="field: 'Name', align: 'center',sortable:'true'">名称</th>
            <th data-options="field: 'Code', align: 'center',sortable:'true'">编码</th>
            <th data-options="field: 'Classify', align: 'center',sortable:'true'">分类</th>
            <th data-options="field: 'Address', align: 'center',sortable:'true'">位置</th>
            <th data-options="field: 'Description', align: 'center',sortable:'true'">描述</th>
            <th data-options="field: 'ImageLink', align: 'center',sortable:'true',formatter:ShowImgFormater">设备图片</th>
            <th data-options="field: 'CreateTime', align: 'center',sortable:'true',formatter:ShowDateTimeFormat">创建时间</th>
            <th data-options="field: 'ModifyTime', align: 'center',sortable:'true',formatter:ShowDateTimeFormat">修改时间</th>
        </tr>
    </thead>
</table>
<div style="text-align: center; width: 100%; color: red; display: none;" id="emptymsgdiv">没有查询到相关数据</div>
<!--弹出框-->
<div id="DivAdd" class="easyui-dialog" style="width: 400px;height:400px;  padding: 10px 10px 40px 0px;"
     closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">

    <form id="fmDetail" method="post" novalidate enctype="multipart/form-data">
        <input name="Id" type="hidden" value="" />
        <input name="CreateTime" type="hidden" value="" />
        <input name="CreateBy" type="hidden" value="" />
        <input name="ModifyBy" type="hidden" value="" />
        <input name="ModifyTime" type="hidden" value="" />
        <input name="ImageLink" type="hidden" value="" />
        <table class="fmdetail_table">
            <tr>
                <td style="width: 100px; text-align: right;">名称：</td>
                <td>
                    <input type="text" class="easyui-validatebox easyui-textbox" name="Name" id="Name" required="required" />
                </td>
            </tr>

            <tr>
                <td style="width: 100px; text-align: right;">编码：</td>
                <td>
                    <input type="text" class="easyui-validatebox easyui-textbox" name="Code" id="Code" required="required" />
                </td>
            </tr>

            <tr>
                <td style="width: 100px; text-align: right;">分类：</td>
                <td>
                    <input type="text" class="easyui-validatebox easyui-textbox" name="Classify" id="Classify" required="required" />
                </td>
            </tr>

            <tr>
                <td style="width: 100px; text-align: right;">位置：</td>
                <td>
                    <input type="text" class="easyui-validatebox easyui-textbox" name="Address" id="Address" required="required" />
                </td>
            </tr>

            <tr>
                <td style="width: 100px; text-align: right;">描述：</td>
                <td>
                    <input type="text" class="easyui-validatebox easyui-textbox" name="Description" id="Description" required="required" />
                </td>
            </tr>
            <tr id="tr_ImageView" style="display:none;">
                <td style="width: 100px; text-align: right;">设备图片预览：</td>
                <td>
                    <img id="ImageView" src="###" style="width:100px;height:100px;" />
                </td>
            </tr>
            <tr id="tr_Image">
                <td style="width: 100px; text-align: right;">设备图片：</td>
                <td>
                    <input type="file" name="EquipmentImageLink" id="EquipmentImageLink" />
                </td>
            </tr>
        </table>
    </form>

    <div style="text-align: center; padding-top: 10px" id="DivAddToolBar">
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddOK" iconcls="icon-ok" onclick="SaveEntity()">确&nbsp;定&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#DivAdd').dialog('close')">关&nbsp;闭&nbsp;&nbsp;</a>
    </div>
</div> 