@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>智能工厂设备综合管理系统</title>
    <link href="/Content/easyui/themes/bootstrap/easyui.css" rel='stylesheet' id='linkThemes' />
    <link href="/Content/main.css" rel="stylesheet" />
    <link href="/Content/icon.css" rel="stylesheet" />
    <script src="/Content/easyui/jquery.min.js"></script>
    <script src="/Content/easyui/jquery.easyui.min.js"></script>
    <script src="/Scripts/Home/home.js"></script>
</head>
<!--整体页面布局-->
<body class="easyui-layout" id="layout">
    <!--头部-->
    <div data-options="region:'north',border:false" class="ershou_nav" style="padding-right: 20px;">
        <div class="logo_nav jfl" style="font-size: 21px; font-weight: 500; color: lightcoral;">
            智能工厂设备综合管理系统
        </div>
        <div class="tip_nav jfl"><a href="http://www.huitong-tech.com/" target="_blank" style="color: black; font-size: 18px;"></a></div>
        <div class="user_nav user_nav1 jfr">
            <a href="/Login/Index.html" target="_self" style="color: #777; font-size: 14px;">
                <img src="/Content/images/top/exit.png" />&nbsp;&nbsp;退出
            </a>
        </div>
        <div class="user_nav jfr" style="color: #777; font-size: 14px;">
            <img src="/Content/images/top/userlog.png" style="width: 16px; height: 16px;" />
            您好，管理员<span></span>
        </div>

        <span style="float: right; margin-right: 20px; display: none;">
            主题切换：<select id="changethemes">
                <option>bootstrap</option>
                <option>default</option>
                <option>black</option>
                <option>gray</option>
                <option>metro</option>
            </select>
        </span>
    </div>
    <!--左侧菜单栏-->
    <div data-options="region:'west',split:true,collapsible:true,title:'导航菜单'" style="width: 205px; " id="leftmenu">
        <div id="aa" class="easyui-accordion" style="width: 198px; margin: 0px; padding: 0px;" data-options="multiple:false">
            <div title="控制面板" data-options="iconCls:'icon-ok'" style="overflow:auto;">
                <ul class="leftMenuUl">
                    <li onclick="MenuClick('/Home/HomePage', '控制面板')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>控制面板</td>
                            </tr>
                        </table>
                    </li>
                    <li onclick="MenuClick('','指给我的设备')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>指给的设备</td>
                            </tr>
                        </table>
                    </li>
                    <li onclick="MenuClick('', '指给我的工单')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>指给我的工单</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div title="设备">
                <ul class="leftMenuUl">
                    <li onclick="MenuClick('/Equipment/Index/','所有设备')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>所有设备</td>
                            </tr>
                        </table>
                    </li>
                    <li onclick="MenuClick('','公共设施')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>公共设施</td>
                            </tr>
                        </table>
                    </li>
                    <li onclick="MenuClick('','专用设备')">
                        <table>
                            <tr>
                                <td>
                                    @*<img border="0" src='/Content/images/equipment/boatequipment.png' align='middle' style="width: 24px; height: 24px;" />*@
                                </td>
                                <td>专用设备</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div title="系统设置">
                <ul class="leftMenuUl">
                    <li onclick="MenuClick('/Tenant/Index/', '租户管理')">
                        <table>
                            <tr>
                                <td></td>
                                <td>租户管理</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width: 100px; padding: 10px;">east region</div>*@
    <!--底部版权信息-->
    <div data-options="region:'south',border:false" style="height: 20px; text-align: center;">版权所有：天津慧通科技有限责任公司</div>
    <!--中间iframe页面信息-->
    <div data-options="region:'center',tabWidth:120" id="tb" style="padding: 0px; width: auto;">
        @*<input type="button" id="btnExp" value="导出" />*@

        <iframe scrolling="auto" framespacing=0 marginheight=0 marginwidth=0 frameborder="0" id="CenterFrame" src="/Home/HomePage" style="width:100%;height:99%;"></iframe>
    </div>

    <div id="tab_rightmenu" class="easyui-menu" style="width: 150px;">
        <!-- 	<div name="tab_menu-tabclose">关闭</div> -->
        <div name="tab_menu-tabcloseall">关闭全部标签</div>
        <div name="tab_menu-tabcloseother">关闭其他标签</div>
        <div class="menu-sep"></div>
        <div name="tab_menu-tabcloseright">关闭右侧标签</div>
        <div name="tab_menu-tabcloseleft">关闭左侧标签</div>
    </div>
</body>
</html>